@import '../../App.scss';

.home {
    display: block;
    margin: 1.5rem auto;
    padding-top: 1rem;
    border-radius: 0.625rem;
    width: 70%;
    height: 100vh !important;
    // just scroll home bar
    position: sticky;
    // top: 3.125rem;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    @include mobile {
        width: 100%;
        margin: 0;
        // padding: 0;
    }
    @include tablet {
        width: 90%;
        margin: 0 auto;
        // padding: 0;
    }
}